* {
font-family: "JetBrains Mono Nerd Font";
font-size: 13px;
}

#waybar {
background: rgba(30, 28, 28, 0.85);
color: #ffffff;
margin: 12px;
border: 2px solid rgba(20, 184, 204, 0.4);
padding: 5px 10px;
border-radius: 0px;
}

#waybar > box {
padding: 7px;
}

/* === UNIVERSAL MODULE CARD STYLE === */
#clock,
#tray,
#cpu,
#memory,
#temperature,
#pulseaudio,
#backlight,
#battery {
margin: 2 4px;
padding: 5px 12px;
border-radius: 0px;
background: rgba(0, 0, 0, 0.55);
border: 2px solid rgba(20, 184, 204, 0.4);
transition: all 0.2s ease;
}

/* === HOVER EFFECT === */
#clock:hover,
#tray:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#pulseaudio:hover,
#backlight:hover,
#battery:hover {
background: rgba(20, 184, 204, 0.2);
border-color: #14b8cc;
}

/* === WORKSPACES === */
#workspaces button {
padding: 4px 8px;
margin: 0 3px;
color: #737373;
background: transparent;
border-radius: 0px;
transition: background 0.2s ease;
}

#workspaces button:hover {
background: rgba(255, 255, 255, 0.08);
}

#workspaces button.active {
color: #14b8a6;
background: rgba(20, 184, 166, 0.15);
}

/* === CENTER WINDOW TITLE === */
#window {
color: #e5e5e5;
padding: 4px 12px;
}

/* === COLOR ACCENTS === */
#cpu,
#temperature,
#battery,
#memory,
#pulseaudio,
#backlight {
color: #3b82f6;
}
